In [23]:
import pandas as pd
import numpy as np
from glob import glob
from tqdm import tqdm

In [4]:
input_files = glob('file_data/*.csv')
input_files.sort()
output_files = glob('validation_data/*.csv')
output_files.sort()

In [10]:
fd = pd.read_csv(input_files[0], index_col=0, parse_dates=[0])
fd

                           gh_irradiance
measured_on
2001-05-31 00:00:00-05:00           -0.4
2001-05-31 00:15:00-05:00           -0.4
2001-05-31 00:30:00-05:00           -0.4
2001-05-31 00:45:00-05:00           -0.4
2001-05-31 01:00:00-05:00           -0.4
...                                  ...
2004-12-15 22:45:00-05:00           -0.4
2004-12-15 23:00:00-05:00           -0.4
2004-12-15 23:15:00-05:00           -0.4
2004-12-15 23:30:00-05:00           -0.4
2004-12-15 23:45:00-05:00           -0.4

[124320 rows x 1 columns]

In [21]:
len(np.unique(fd.index.date))

1295

In [20]:
fo = pd.read_csv(output_files[0], index_col=0, parse_dates=[0])
fo

              0
2001-05-31  0.0
2001-06-01  0.0
2001-06-02  0.0
2001-06-03  0.0
2001-06-04  0.0
...         ...
2004-12-11  0.0
2004-12-12  0.0
2004-12-13  0.0
2004-12-14  0.0
2004-12-15  0.0

[1295 rows x 1 columns]

In [22]:
len(fo)

1295

In [26]:
failures = []
for _input, _output in tqdm(zip(input_files, output_files), total=len(input_files)):
    load_in = pd.read_csv(_input, index_col=0, parse_dates=[0])
    load_out = pd.read_csv(_output, index_col=0, parse_dates=[0])
    len_in = len(np.unique(load_in.index.date))
    len_out = len(load_out)
    if len_in != len_out:
        failures.append(_output)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████| 143/143 [07:43<00:00,  3.24s/it]

In [27]:
failures

['validation_data/1422_inv1_ac_power.csv',
 'validation_data/1422_inv1_ac_power_random_time_shifts.csv',
 'validation_data/1422_inv2_ac_power.csv',
 'validation_data/1423_inv1_ac_power.csv',
 'validation_data/1423_inv1_ac_power_full_DST.csv',
 'validation_data/1423_inv2_ac_power.csv',
 'validation_data/1423_inv2_ac_power_wrong_timezone.csv']